= form_for @task do |f|
  -if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :number
    = f.text_field :number
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :comments
    = f.text_area :comments
  .field
    = f.label :issued_department_id
    = f.number_field :issued_department_id
  .field
    = f.label :received_department_id
    = f.number_field :received_department_id
  .field
    = f.label :facility_id
    = f.number_field :facility_id
  .field
    = f.label :detailed_schedule_number
    = f.text_field :detailed_schedule_number
  .field
    = f.label :code
    = f.text_field :code
  .field
    = f.label :stamp_name
    = f.text_field :stamp_name
  .field
    = f.label :stage_id
    = f.number_field :stage_id
  .field
    = f.label :step_number
    = f.text_field :step_number
  .field
    = f.label :contract_number
    = f.text_field :contract_number
  .field
    = f.label :issued_chief_id
    = f.number_field :issued_chief_id
  .field
    = f.label :received_chief_id
    = f.number_field :received_chief_id
  .field
    = f.label :issued_group_head_id
    = f.number_field :issued_group_head_id
  .field
    = f.label :received_group_head_id
    = f.number_field :received_group_head_id
  .field
    = f.label :received_staff_id
    = f.number_field :received_staff_id
  .field
    = f.label :chief_project_engineer_id
    = f.number_field :chief_project_engineer_id
  .field
    = f.label :issue_date
    = f.date_select :issue_date
  .field
    = f.label :expiration_id
    = f.number_field :expiration_id
  .actions
    = f.submit 'Save'
