%h1 Listing tasks

%table
  %tr
    %th Number
    %th Description
    %th Comments
    %th Issued department
    %th Received department
    %th Facility
    %th Detailed schedule number
    %th Code
    %th Stamp name
    %th Stage
    %th Step number
    %th Contract number
    %th Issued chief
    %th Received chief
    %th Issued group head
    %th Received group head
    %th Received staff
    %th Chief project engineer
    %th Issue date
    %th Expiration
    %th
    %th
    %th

  - @tasks.each do |task|
    %tr
      %td= task.number
      %td= task.description
      %td= task.comments
      %td= task.issued_department_id
      %td= task.received_department_id
      %td= task.facility_id
      %td= task.detailed_schedule_number
      %td= task.code
      %td= task.stamp_name
      %td= task.stage_id
      %td= task.step_number
      %td= task.contract_number
      %td= task.issued_chief_id
      %td= task.received_chief_id
      %td= task.issued_group_head_id
      %td= task.received_group_head_id
      %td= task.received_staff_id
      %td= task.chief_project_engineer_id
      %td= task.issue_date
      %td= task.expiration_id
      %td= link_to 'Show', task
      %td= link_to 'Edit', edit_task_path(task)
      %td= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Task', new_task_path
