%h1 Listing departments

%table
  %tr
    %th Name
    %th User
    %th
    %th
    %th

  - @departments.each do |department|
    %tr
      %td= department.name
      %td= department.user_id
      %td= link_to 'Show', department
      %td= link_to 'Edit', edit_department_path(department)
      %td= link_to 'Destroy', department, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Department', new_department_path
