= form_for @expiration do |f|
  -if @expiration.errors.any?
    #error_explanation
      %h2= "#{pluralize(@expiration.errors.count, "error")} prohibited this expiration from being saved:"
      %ul
        - @expiration.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date
    = f.date_select :date
  .actions
    = f.submit 'Save'
